.perfil-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 2rem;
  background: white;
  border-radius: 20px;
  
  box-shadow: 0 0 0 10000px orange , 0 2px 8px rgba(0,0,0,0.1);
  border: 10px solid green; /* Borde negro */

}
.perfil-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.perfil-dato {
  margin-bottom: 1rem;
}
.perfil-dato label {
  font-weight: bold;
  display: block;
}
.perfil-dato span {
  display: block;
  margin-top: 0.3rem;
  color: #333;
  
} 
.perfil-dato-foto {
  display: flex;
  align-items: right;
  gap: 1rem;
}

.perfil-foto {
  width: 40px;
  height: 40px;
  border-radius: 0%;
  object-fit: cover;
}